<div class="contacto-container">
    <div class="contacto-container--center">
        <h3>¿Deseas conocer más sobre la carrera?</h3>
        <div class="contacto-container--center">
            <ul>
                <li><a href="http://www.facebook.com">Facebook</a></li>
                <li><a href="http://www.instagram.com">Instagram</a></li>
                <li><a href="https://lpz.ucb.edu.bo/pregrado/ingenieria-de-sistemas/">Página Web</a></li>
                <li>Número de Referencia: (2) 25888888</li>
        
            </ul>
        </div>
    </div>
</div>
