.image-container img {
    width: 300px;
    height: 300px;
    margin: 2%;
}

.image-container {
    display: flex;
}

.image-container--center {
    display: flex;
    margin: 0 auto;
}

.app-container {
    margin-bottom: 3%;
}

*{
    font-family: 'Times New Roman';
    font-size: 20px;
}
